name: Maven Deploy (Prod)

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      
      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          
      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@v20
        with:
          servers: '[{ "id": "github", "username": "x-access-token", "password": "${{ secrets.GITHUB_TOKEN }}" }]'
        
      - name: Verify with Maven
        run: cd project && mvn -B verify -Pbuild
      
      - name: Publish Package
        run: cd project && mvn -B deploy -Pbuild
